<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Surveillance Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles1.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body class="dark-theme">
    <div class="background-image">
        <div class="container">
            
                <h2>Login</h2>
                <div class="input-container">
                    <input id="username" type="text" placeholder="Username" required>
                </div>
                <div class="login-container">
                    <input id="password" type="password" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
            
        </div>
    </div>

   
</body>

</html>

